*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --line-border-fill:rgb(0, 0, 0);
    --line-border-empty: #e0e0e0;
    --primary-color:rgb(60, 231, 168);
}
hr{
    margin: 20px 0;
    border: none;
    height: 1px;
    background: white;
}
body{
    margin: 0;
    padding: 0;
    background: teal;
    color: white;
}
.container{
    max-width: 1000px;
    min-height: 100vh;
    padding: 50px;
    margin: 0 auto
}
.search-container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    position: relative;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
}
.search .input{
    height: 50px;
    width: 50px;
    border: 0;
    font-size: 28px;
    padding: 15px;
    transition: width .3s ease;
}

.btn{
    background: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    transition: transform .3s ease;
}
.btn:focus,
.input:focus{
    outline: none;
}
.search.active .input{
    width: 300px;
}