*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --line-border-fill:rgb(0, 0, 0);
    --line-border-empty: #e0e0e0;
    --primary-color:rgb(60, 231, 168);
}
body{
    background: teal;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* text-align: center; */
    > hr{
        margin: 20px 0;
        border: none;
        height: 1px;
        background: white;
    }
}
